<div id="particles-js"></div>

<h1>Computing Cheatsheet</h1>

<div class="row buttons">
  <div class="col">
    <button
      *ngFor="let t of types | keyvalue"
      type="button"
      class="btn"
      [ngClass]="['btn-outline-' + t.key]"
      [class.active]="this.searchType.includes(t.key)"
      (click)="onAddType(t.key)"
    >
      {{ t.value.lang }}
      <i [class]="'devicon-' + t.value.icon + '-plain float-right'"></i>
    </button>
    <button
      type="button"
      class="btn btn-light add"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      +
    </button>
  </div>

  <!-- Search Bar -->

  <div class="col-md-1 mx-auto col-lg-3 d-flex justify-content-end">
    <div class="row">
      <i class="fas fa-search" aria-hidden="true"></i>
      <input
        class="form-control search"
        type="text"
        placeholder="Search"
        aria-label="Search"
        [(ngModel)]="searchText"
      />
    </div>
  </div>
</div>

<!-- Main -->

<div class="row grid">
  <!--Sheets-->

  <div
    class="card mb-3 item"
    [class.bounceIn]="this.filterApplied"
    style="max-width: 18rem;"
    *ngFor="
      let s of sheets | filter: searchText | type: searchType;
      let last = last;
      let i = index
    "
    data-toggle="modal"
    data-target="#contentModal"
    (click)="onClick(s)"
  >
    <div class="content">
      <div
        [ngClass]="[
          'card-header',
          'text-' + types[s.type].color,
          'bg-' + s.type
        ]"
      >
        {{ s.titre | titlecase }}
        <i
          [ngClass]="[
            'devicon-' + types[s.type].icon + '-plain',
            'float-right'
          ]"
        ></i>
      </div>
      <div class="card-body">
        <p class="card-text">
          {{ s.description }}
        </p>
      </div>
    </div>
    {{ last ? resizeAllGridItems() : "" }}
  </div>

  <!-- Add modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light text-dark">
          <h5 class="modal-title" id="exampleModalLabel">
            Créer une nouvelle fiche
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #f="ngForm">
            <div class="form-group">
              <label for="titre">
                Titre
              </label>
              <input
                type="text"
                id="titre"
                class="form-control"
                name="titre"
                ngModel
                required
              />
            </div>
            <div class="form-group">
              <label for="type">
                Type
              </label>
              <select id="type" class="form-control" name="type" ngModel>
                <option [value]="t.key" *ngFor="let t of types | keyvalue">{{
                  t.value.lang
                }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="description">
                Description
              </label>
              <textarea
                type="text"
                id="description"
                class="form-control"
                name="description"
                ngModel
              ></textarea>
            </div>
            <div class="modal-footer">
              <button
                type="submit"
                class="btn btn-success"
                (click)="onAdd(f)"
                [disabled]="f.invalid"
                data-dismiss="modal"
              >
                Enregistrer
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--View sheet modal-->

  <div
    class="modal fade"
    id="contentModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div
          [ngClass]="[
            'modal-header',
            'text-' + types[clickedSheet.type].color,
            'bg-' + clickedSheet.type
          ]"
        >
          <h5 class="modal-title" id="exampleModalLabel">
            {{ clickedSheet.titre | titlecase }}
            <i
              [ngClass]="[
                'devicon-' + types[clickedSheet.type].icon + '-plain',
                'ml-2',
                'mt-2'
              ]"
              [style.display]="
                clickedSheet.titre === 'Supprimé' ? 'none' : 'inline'
              "
            ></i>
          </h5>

          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div
          class="modal-body"
          [style.display]="clickedSheet.titre === 'Supprimé' ? 'none' : 'flex'"
        >
          <div
            class="contentInside"
            [innerHTML]="clickedSheet.description"
          ></div>
        </div>
        <div
          class="modal-footer"
          [style.display]="clickedSheet.titre === 'Supprimé' ? 'none' : 'flex'"
        >
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-success"
              data-dismiss="modal"
              data-toggle="modal"
              data-target="#editModal"
            >
              Edit
            </button>
            <button
              type="button"
              class="btn btn-danger"
              data-toggle="modal"
              data-target="#delModal"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Edit Modal-->

<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div
        [ngClass]="[
          'modal-header',
          'text-' + types[clickedSheet.type].color,
          'bg-' + clickedSheet.type
        ]"
      >
        <h5 class="modal-title" id="exampleModalLabel">
          Editer une fiche
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f2="ngForm">
          <div class="form-group">
            <label for="titre">
              Titre
            </label>
            <input
              type="text"
              id="titre"
              class="form-control"
              name="titre"
              [value]="clickedSheet.titre"
              ngModel
              required
            />
          </div>
          <div class="form-group">
            <label for="type">
              Type
            </label>
            <select
              id="type"
              class="form-control"
              [value]="clickedSheet.type"
              name="type"
              ngModel
            >
              <option [value]="t.key" *ngFor="let t of types | keyvalue">{{
                t.value.lang
              }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="description">
              Description
            </label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              name="description"
              [value]="clickedSheet.description"
              ngModel
            ></textarea>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-success"
              (click)="onEdit(f2)"
              data-dismiss="modal"
            >
              Enregistrer
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              data-target="modal"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Delete validation-->
<div
  class="modal fade"
  id="delModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header text-light bg-dark">
        <h5 class="modal-title" id="exampleModalLabel">
          Do you really want to delete this ?
        </h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="onDel()"
            data-dismiss="modal"
            data-target="modal"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
