<h1>Computing Cheatsheet</h1>

<div class="row buttons">
  <div class="col">
    <button
      *ngFor="let t of types[0] | keyvalue"
      type="button"
      class="btn"
      [ngClass]="['btn-outline-' + t.key]"
      [class.active]="this.searchType.includes(t.key)"
      (click)="onAddSearchType(t.key)"
    >
      {{ t.value.lang }}
      <i [class]="'devicon-' + t.value.icon + '-plain float-right'"></i>
    </button>
    <button
      type="button"
      class="btn btn-light add"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      +
    </button>
  </div>

  <!-- Search Bar -->

  <div class="col-md-1 mx-auto col-lg-3 d-flex justify-content-end">
    <div class="row">
      <i class="fas fa-search" aria-hidden="true"></i>
      <input
        class="form-control search"
        type="text"
        placeholder="Search"
        aria-label="Search"
        [(ngModel)]="searchText"
      />
    </div>
  </div>
</div>

<!-- Main -->

<div class="row grid">
  <!--Sheets-->

  <div
    class="card mb-3 item"
    [class.bounceIn]="this.filterApplied"
    *ngFor="
      let s of sheets | filter: searchText | type: searchType;
      let last = last;
      let i = index
    "
    data-toggle="modal"
    data-target="#contentModal"
    (click)="onClick(s)"
  >
    <div class="content">
      <div
        [ngClass]="['card-header', 'text-' + getColor(s.type), 'bg-' + s.type]"
      >
        {{ s.titre | titlecase }}
        <i
          [ngClass]="['devicon-' + getIcon(s.type) + '-plain', 'float-right']"
        ></i>
      </div>
      <div class="card-body">
        <p class="card-text">
          {{ s.description }}
        </p>
      </div>
    </div>
    {{ last ? resizeAllGridItems() : "" }}
  </div>
</div>

<!--View sheet modal-->

<div
  class="modal fade"
  id="contentModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div
        [ngClass]="[
          'modal-header',
          'text-' + getColor(clickedSheet.type),
          'bg-' + clickedSheet.type
        ]"
      >
        <h5 class="modal-title" id="exampleModalLabel">
          {{ clickedSheet.titre | titlecase }}
          <i
            [ngClass]="[
              'devicon-' + 'types[clickedSheet.type].icon' + '-plain',
              'ml-3',
              'mt-3'
            ]"
          ></i>
        </h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="contentInside" [innerHTML]="clickedSheet.description"></div>
      </div>
      <div class="modal-footer">
        <div class="">
          <button
            type="button"
            class="btn btn-success"
            data-dismiss="modal"
            data-toggle="modal"
            data-target="#editModal"
          >
            Update
          </button>
          <button
            type="button"
            class="btn btn-danger"
            data-toggle="modal"
            data-target="#delModal"
            data-dismiss="modal"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-edit-sheet [clickedSheet]="clickedSheet"></app-edit-sheet>
<app-add-sheet></app-add-sheet>
