<div class="card" style="max-width: 18rem; padding: 10px;">
  <h4>Welcome to Jarvis</h4>
  <form #f="ngForm">
    <div class="form-group">
      <label for="titre">
        Email
      </label>
      <input
        type="text"
        id="email"
        class="form-control"
        name="email"
        ngModel
        required
      />
    </div>
    <div class="form-group">
      <label for="titre">
        Password
      </label>
      <input
        type="password"
        id="password"
        class="form-control"
        name="password"
        ngModel
        required
      />
    </div>

    <div class="modal-footer">
      <button
        type="submit"
        class="btn btn-outline-success"
        (click)="onLogin(f)"
      >
        Sign In</button
      ><button class="btn btn-outline-danger" (click)="onLogout()">
        Logout
      </button>
    </div>
  </form>
</div>
