/* You can add global styles to this file, and also import other style files */

@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/plugins/line-numbers/prism-line-numbers.css";
@import "~prismjs/themes/prism-okaidia";

/* Global Background */

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 100px;
}

body {
  background-color: #222;
  /*width: 100%;*/
}
