/* You can add global styles to this file, and also import other style files */

@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/plugins/line-numbers/prism-line-numbers.css";
@import "~prismjs/themes/prism-okaidia";

/* Global Background */

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 100px;
}

body {
  background-color: #222;
  /*width: 100%;*/
}

/* Modals */

.modal {
  overflow: scroll;
  overflow-x: hidden;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal-content {
  background: #444;
  color: white;
}

.modal::-webkit-scrollbar {
  width: 0.25rem;
}

.modal::-webkit-scrollbar-track {
  background: #1e1e24;
}

.modal::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 100px;
}

.modal-header {
  border: none;
}
.modal-footer {
  border: none;
}
.modal-body {
  white-space: pre-wrap;
}

.edit {
  margin-right: 30px;
  height: 20px;
  color: black !important;
}

.edit:hover {
  color: black !important;
}

.close {
  border: none !important;
}

input,
select,
textarea {
  background-color: #333 !important;
  color: white !important;
}

.btn {
  box-shadow: none;
  border-radius: 40px;
  border-width: 1.5px;
}

#contenu {
  height: 15rem;
}
